$red: #e31e3c;
$black: #111111;
$white: #fefefe;
$gray: #858585;
$brown: #b7ac9b;
$nugs-text: #f0f0f0;
$nugs-input: #bfb5a6;
$nugs-button: #c5bcaf;
$nugs-button-inside: #928a7c;
$nugs-bottom: #e1ddd5;
